<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="gc">
        <h1 class="multiple">
            <a href="{{ url_for('new_gc') }}" class="multiple-a" id="new">Create a new group chat</a>
        </h1>
    </div>
    {% for gc in group_chats %}
        <div class="gc">
            <h1 class="multiple">
                <a href="{{ url_for('group_chat', gc_name=gc['chat_name']) }}" class="multiple-a">
        {{ gc["chat_name"] }}
                </a>
            </h1>
        </div>
    {% endfor %}
    <div id="back" style="border: 2px solid white; padding: 15px; margin-top: 20px; width: 100%; grid-column: 1 / -1; display: flex; align-items: center; justify-content: center;">
    <div style="display: flex; align-items: center; gap: 200px;">
        <h1 style="font-size: 4rem; margin: 0; padding: 0; line-height: 1;"><a href="/">Back</a></h1>
        <hr style="height: 8rem; margin: 0; padding: 0; width: 3px; background-color: white; border: none;">
        <h1 style="font-size: 4rem; margin: 0; padding: 0; line-height: 1;"><a href="/delete-user">Delete User</a></h1>
    </div>
</div>
</body>
</html>